.contenedor {
    width: 30vwpx;
    height: 30vhpx;

    margin: 0 auto;
    display: flex;
    justify-content: center;
}

img {
    width: 150px;
    height: auto;
}


.item {
    padding: 1rem;
    border: 0.2rem solid black;
    border-radius: 3%;
    margin: 1%;
}

.contenedorForm {
    width: 30vwpx;
    height: 30vhpx;

    margin: 0 auto;
    padding: 5rem 30% 5rem;
    
}